*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alegreya SC', serif;
    font-family: 'Exo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display: none;
}

.hero-main{
    height: 100vh;
  
    background-image: linear-gradient(to bottom,#080808de,#0c1e7a9a),url(/images/ai.png);
    background-size: cover;
    background-position: center;
}

.header-main{
  height: 10%;
  display: flex;
}

.header-main img{
  height: 100%;
  padding: 8px 0 0 5px ;
}

.header-menu{
    margin:3vh 0 0 40vw ;
}
.header-menu ul {
    text-transform: capitalize;
    list-style: none;
    
}

.header-menu ul li{
    color: #031c97;
    /* color: #002D62; */
    display: inline-block;
    justify-content: center;
    margin: 20px;
    font-size: 1.5vmax;
    position: relative;
}
.header-menu ul li:hover{
    color: #fff;
    cursor: pointer;
}

.header-menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:blue ;
    display: block;
    margin: auto;
    transition: 0.3s ease-in-out;
}
.header-menu ul li:hover::after{
    width: 90%;
}

.header-mid{
  display: flex;
  width: 100vw;
  height: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-mid img{
    margin: 5vh 0;
    height: 40vh;

}

.header-mid h1{
  width: fit-content;
  align-items: center;
  font-size: 3.3vmax;
}

.header-mid h2{
  width: fit-content;
  font-size: 1.8vmax;
}

.heading{
    text-transform: uppercase;
    margin: 0 10vh 0;
    display: flex;
    flex-direction: column;
    line-height: 14vh;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(/images/back.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation: back 20s linear infinite;

}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.heading h1{
    margin-top: 10vh;
    font-size: 8vmax;
    letter-spacing: 2vmax;
    margin-left:3.2vh ;
}

.heading p{
    font-size:7vmax;
    letter-spacing: 2.4vmax;
    margin-left: 3vh;
}

.text-box{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left-container > p{
  color: white;
}

.text-box .left-container .left-container-links > a{
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  /* margin: 0px 10px; */
  border: 2px solid #fff;
}

.text-box .left-container > a:hover{
  background-color: #080808de;
  /* color: ; */
  cursor: pointer;
}

.left-container {
  width: 70%;
  padding-left: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.left-container > p {
  margin-top: 10px;
}

.social-media{
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: fit-content;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.social-media .fa-brands{
  font-size: 1.5vmax;
  display: block;
  /* margin: 8vh 0 0 0vh ; */
}   

.social-media .icon{
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-media .icon a{
  position: relative;
  color: #fff;
  text-decoration: none;
  padding : 10px;
 
  height: fit-content;
  width: fit-content;
  /* margin: 0vh 0 0 5vh; */
  display: grid;
  place-items: center;
  /* background: #fff; */
  font-size:  clamp(25px,2vw,40px);
  border-radius: 50%;
  z-index: 2 ;

}

.social-media .icon .tooltip{
  top: 0px;
  color: #fff;
  font-size: 20px ;
  position: absolute;
  /* margin: 1.3vh 0 0 20vh; */
  padding: 11px 18px;
  border-radius: 29px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.social-media .icon:hover a{
  color: #fff;
}

.social-media .icon:hover .tooltip{
  opacity: 1;
  top: -60px;
  pointer-events: auto;

}
.social-media .icon .tooltip:before{
    position: absolute;
    content: '';
    height: 1vmax;
    width: 1vmax;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-media .icon:hover a,
.social-media .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.social-media .instagram:hover a,
.social-media .instagram:hover .tooltip,
.social-media .instagram:hover .tooltip:before{
    background: #e1306c;

}

.social-media .github:hover a,
.social-media .github:hover .tooltip,
.social-media .github:hover .tooltip:before{
    background: #333;

}

.social-media .youtube:hover a,
.social-media .youtube:hover .tooltip,
.social-media .youtube:hover .tooltip:before{
    background: #de463b;
}


/* main section begins*/

.about{
  display: flex;
  min-height: 100vh;
  height: max-content;
  padding: 50px 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-image: linear-gradient(to bottom ,#080808de,#0c1e7a9a),url(/images/ai-bg.png);
  background-size: cover;
  background-position: center;
}


.article{
  width: 60%;
  display: flex;
  color: #fff;
  flex-direction: column;
}

.article h1{
  font-size: clamp(1rem,5vw,3rem);
  text-transform: uppercase;
  margin-bottom:3vh ;
}


.article p{
  font-size: clamp(1rem,2vw,2rem);
  color: #fff;
  
}

.art-logo {
  height: fit-content;
}

.art-logo img{
  float: right;
  width: clamp(15em,25vw,25em);
}


.faculty{
  background-color: #002D62; 
}

.team{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vh 0;
    flex-direction: column;
}

.team h1{
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 5vh;
    padding-bottom: 2.5vh;
}

.team h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 50vh;
    background-color: #fff;
    border-radius: 50%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    margin: 0 20px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.box img{
    vertical-align: bottom;
    height: 28vmax;
    
}

.info{
    position: absolute ;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: #031c9793;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    transform: scale(0);
    transition: all 0.2s ease;
    transform-origin: 0%;
}

.info .name{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    /* color: #fff; */

}

.detail{
    font-size: 18px;
    margin-top: -2px;
}

.social-info{
    display: flex;
    justify-content: center;
    
}
.social-info a{
    width: 40px;
    height: 40px;
    background: #fff;
    margin: 10px 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    font-size: 25px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.social-info a:hover{
    background-color: transparent;
    color: #fff;

}

.box:hover .info{
    transform: scale(1);
}

.faculty{
  min-height: 100vh;
  height: fit-content;
}