*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alegreya SC', serif;
    font-family: 'Exo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display: none;
}

.hero-main{
    height: 100vh;
  
    background-image: linear-gradient(to bottom,#080808de,#0c1e7a9a),url(/images/ai.png);
    background-size: cover;
    background-position: center;
}

.header-main{
    display: flex;
}

.header-main img{
    height: 7vmax;
    padding: 8px 0 0 5px ;
}

.header-menu{
    margin:3vh 0 0 40vw ;
}
.header-menu ul {
    text-transform: capitalize;
    list-style: none;
    
}

.header-menu ul li{
    color: #031c97;
    /* color: #002D62; */
    display: inline-block;
    justify-content: center;
    margin: 20px;
    font-size: 1.5vmax;
    position: relative;
}
.header-menu ul li:hover{
    color: #fff;
    cursor: pointer;
}

.header-menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:blue ;
    display: block;
    margin: auto;
    transition: 0.3s ease-in-out;
}
.header-menu ul li:hover::after{
    width: 90%;
}

.header-mid{
    margin:5vh  ;
    display: flex;
    height: 40vh;
    
    
}

.header-mid img{
    margin: 5vh 0;
    height: 40vh;

}

.header-mid h1{
    align-items: center;
    font-size: 3.3vmax;
}

.heading{
    text-transform: uppercase;
    margin: 0 10vh 0;
    display: flex;
    flex-direction: column;
    line-height: 14vh;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(/images/back.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation: back 20s linear infinite;

}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.heading h1{
    margin-top: 10vh;
    font-size: 8vmax;
    letter-spacing: 2vmax;
    margin-left:3.2vh ;
}

.heading p{
    font-size:7vmax;
    letter-spacing: 2.4vmax;
    margin-left: 3vh;
}

.text-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 29vh 5vh;

}

.text-box a{
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}

.text-box a:hover{
    background-color: #080808de;
    /* color: ; */
    cursor: pointer;
} 

.social-media{
position: absolute;
right: 5%;
bottom: 5%;
width: 20vh;
}

.social-media .fa-brands{
    font-size: 1.5vmax;
    display: block;
    margin: 8vh 0 0 20vh ;
}   

.social-media .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-media .icon span{
    position: relative;

    height: 50px;
    width: 50px;
    margin: 1.3vh 0 0 20vh;
    display: inline-block;
    /* background: #fff; */
    font-size:  2vmax;
    line-height:7vh;
    text-align: center;
    border-radius: 50%;
    z-index: 2  ;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);

}
.social-media .icon .tooltip{
    top: 0px;
    /* background: #fff; */
    margin: 1.3vh 0 0 20vh;
    /* color: #fff; */
    font-size: 20px ;
    position: absolute;
    padding: 12px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.social-media .icon:hover span{
    color: #fff;
}

.social-media .icon:hover .tooltip{
    opacity: 1;
    top: -70px;
    pointer-events: auto;

}
.social-media .icon .tooltip:before{
    position: absolute;
    content: '';
    height: 1vmax;
    width: 1vmax;
    /* background: #fff; */
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-media .icon:hover span,
.social-media .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
        }

.social-media .instagram:hover span,
.social-media .instagram:hover .tooltip,
.social-media .instagram:hover .tooltip:before{
    background: #e1306c;

}

.social-media .github:hover span,
.social-media .github:hover .tooltip,
.social-media .github:hover .tooltip:before{
    background: #333;

}

.social-media .youtube:hover span,
.social-media .youtube:hover .tooltip,
.social-media .youtube:hover .tooltip:before{
    background: #de463b;
}


/* main section begins*/

.about{
    
    display: flex;
    height: 80vh;
    margin: 20px;
    background-image: linear-gradient(to bottom ,#080808de,#0c1e7a9a),url(/images/ai-bg.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}


.article{
    margin: 7vh;
    width: 50vw;
    display: flex;
    color: #fff;
    flex-direction: column;
    /* align-items: center; */

}

.article h1{
    font-size: 3vmax;
    text-transform: uppercase;
    margin-bottom:3vh ;
    /* position: relative; */

}
.article h1::after{
    content: "";
    width: 10%;
    margin-left: 7vh;
    position: absolute;
    /* border: 1px solid grey; */
    background-color: #fff;
    height: 2px;
    left: 0;
    opacity: 0.8;
    margin-top: 8vh;
}


.article p{
    font-size: 1.5vmax;
    color: #fff;
    
}
 
.art-logo img{
    height: 22vmax;
    margin: 130px;
}


.faculty{
    background-color: #002D62;
  
}


.team{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vh 0;
    flex-direction: column;
}

.team h1{
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 5vh;
    padding-bottom: 2.5vh;
}

.team h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 50vh;
    background-color: #fff;
    border-radius: 50%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    margin: 0 20px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.box img{
    vertical-align: bottom;
    height: 28vmax;
    
}

.info{
    position:absolute ;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: #031c9793;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    transform: scale(0);
    transition: all 0.2s ease;
    transform-origin: 0%;
}

.info .name{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    /* color: #fff; */

}

.detail{
    font-size: 18px;
    margin-top: -2px;
}

.social-info{
    display: flex;
    justify-content: center;
    
}
.social-info a{
    width: 40px;
    height: 40px;
    background: #fff;
    margin: 10px 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    font-size: 25px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.social-info a:hover{
    background-color: transparent;
    color: #fff;

}

.box:hover .info{
    transform: scale(1);
}

